/*
 * colors taken from tailwindcss
 * https://tailwindcss.com/docs/customizing-colors
 */

:root {
  --bg-100: #fff;
  --bg-200: #e4e4e7;
  --bg-900: #374151;
  --bg-alternate: #fb7185;
  --bg-tertiary: #a78bfa;
  --text-900: #000;
  --text-800: #333;
  --text-700: #444;
  --text-500: #777;
  --text-200: #eee;
  --text-100: #fff;
  --link-active: #818cf8;
  --link-default: #4f46e5;
  --radius-sm: 3px;
  --shadow-md: 0px 0px 18px 2px rgba(0, 0, 0, 0.3);
}
