.page {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr 5%;
  background-color: var(--bg-100);
}

html[data-reader-view='true'] .page {
  position: absolute;
  inset: 0;
  margin: 0;
}

html[data-reader-view='false'] .page {
  aspect-ratio: 8.5 / 11;
  margin: 4% 25%;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
}

@media only screen and (max-width: 1400px) {
  html[data-reader-view='false'] .page {
    margin: 4%;
  }
}

.progress {
  height: 1rem;
  margin: 0.33rem 0;
  background-color: var(--bg-300);
  border-radius: var(--radius-sm);
  border: 1px solid #fff;
}

html[data-reader-view='false'] .progress {
  box-shadow: var(--shadow-sm);
}

.progress > .progress-bar {
  height: 100%;
  width: var(--progress-value);
  background-color: var(--bg-tertiary);
  border-radius: var(--radius-sm);
}
