<header class="page-header">
  <div class="page-header-profile">
    <img src="./assets/profile.jpg" alt="Profile Image" />
    <h2><%= context.title %></h2>
  </div>
  <div class="page-header-info">
    <% for ([name, obj] of Object.entries(context.contact ?? {})) { %>
      <a class="link-icon" rel="noopener noreferrer" target="_blank" href="<%= obj.url %>">
        <%- include(obj.image) %>
        <span class="text-overflow-ellipsis"><%= obj.text %></span>
      </a>
    <% } %>
  </div>
</header>
