<header class="page-header">
  <div class="page-header-profile">
    <img src="./assets/profile.jpg" alt="Profile Image" />
    <h2><%= context.title %></h2>
  </div>
  <% if (context.contact) { %>
    <%- include('./partial/header-info.ejs', { contact: context.contact }) %>
  <% } %>
</header>
