<div id="actions" class="page-actions" style="visibility: hidden">
  <button id="action-print"><%- include('../assets/icon/print.svg') %></button>
  <button id="action-visibility">
    <div class="visible_on"><%- include('../assets/icon/visibility.svg') %></div>
    <div class="visible_off"><%- include('../assets/icon/visibility_off.svg') %></div>
  </button>
</div>
