<section class="page-articles">
  <article>
    <h2>Article 1</h2>
    <p>
      <time datetime="">then</time> -
      <time datetime="">now</time>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna mauris, euismod sit amet
      convallis id
    </p>
  </article>
  <article>
    <h2>Article 2</h2>
    <p>
      <time datetime="">then</time> -
      <time datetime="">now</time>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna mauris, euismod sit amet
      convallis id
    </p>
  </article>
</section>
