<main class="relative w-full min-h-screen p-8 overflow-auto">
  <div class="grid w-3xl min-w-2/3 mx-auto grid-cols-[25%_1fr] aspect-[8.5/11] rounded-sm shadow-2xl bg-zinc-50 dark:bg-zinc-800 dark:text-white">
    <!-- main aside -->
    <%- include('./aside.ejs', { aside: context.aside ?? {} }) %>
    <!-- main markdown pages -->
    <div class="relative p-4">
      <% for (const path of context.pages ?? []) { %>
        <%- include('./page.ejs', { path }) %>
      <% } %>
    </div>
  </div>
</main>
