<main class="main">
  <% for (const { data, template } of helpers.loopMarkdown(context.pages ?? [])) { %>
    <!-- main page-->
    <section data-aside="<%= data.aside %>" class="main-page">
      <!-- main aside -->
      <% if (data.aside) { %>
        <%- include('./aside.ejs', { aside: context.aside ?? {} }) %>
      <% } %>
      <!-- main markdown template -->
      <div class="markdown">
        <%- template %>
      </div>
    </section>
  <% } %>
</main>
