<section class="page-contents-article">
  <h3><%= section.title %></h3>
  <article>
    <% if(typeof section?.date?.from !== "undefined") { %>
      <%- include('./timestamp.ejs', section.date) %>
    <% } %>
    <p><%= section.description %></p>
  </article>
</section>
