<p class="timestamp text-overflow-ellipsis">
  <time datetime="<%= date.from %>"
    ><%= new Date(date.from).toLocaleDateString() %></time
  >
  -
  <time datetime="<%= date.to %>"
    ><%= date.to ? new Date(date.to).toLocaleDateString() : 'now' %></time
  >
</p>
