body {
  background: radial-gradient(#e66465, #9198e5);
}

html[data-reader-view='false'] body {
  padding: 4rem 0;
}

.page {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr 5%;
  background-color: #fff;
}

html[data-reader-view='true'] .page {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

html[data-reader-view='false'] .page {
  width: 8.5in;
  height: 11in;
  margin: 0 auto;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
}

/* === page-footer === */

.page-footer {
  display: flex;
  grid-column: span 2;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #333;
  border-bottom-left-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
}

/* === page-header === */

.page-header {
  padding: 1rem 1.5rem;
  min-width: 200px;
  background-color: #ccc;
  border-top-left-radius: var(--radius-sm);
}

.page-header > .profile {
  margin-bottom: 1.5rem;
  text-align: center;
}

.page-header > .profile > img {
  width: 50%;
  border-radius: 999px;
  border: 3px solid #fff;
}

.page-header > .profile > h2 {
  font-weight: 600;
  margin: 0;
}

.page-header > .info {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: var(--radius-sm);
  border: 1px solid #999;
  white-space: nowrap;
}

.page-header > .info > a {
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

.page-header > .info svg {
  height: 1.25rem;
  width: 1.25rem;
}
