body {
  background: radial-gradient(var(--bg-alternate), var(--bg-tertiary));
}

.link {
  color: var(--link-default);
  fill: var(--link-default);
  font-weight: 300;
}

.link-icon {
  display: flex;
  align-items: center;
  gap: 0.33rem;
  color: var(--link-default);
  fill: var(--link-default);
  font-weight: 300;
  overflow: hidden;
}

.link-icon img,
.link-icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

.link-icon:active,
.link-icon:hover,
.link:active,
.link:hover {
  color: var(--link-active);
  fill: var(--link-active);
  text-decoration: underline;
}

.progress {
  height: 1.25rem;
  margin: 0.5rem 0;
  background-color: var(--bg-300);
  border-radius: var(--radius-sm);
  border: 1px solid #fff;
}

html[data-reader-view='false'] .progress {
  box-shadow: var(--shadow-sm);
}

.progress > .progress-bar {
  height: 100%;
  width: var(--progress-value);
  background-color: var(--bg-tertiary);
  border-radius: var(--radius-sm);
}

.subtitle {
  color: var(--text-900);
  font-weight: 300;
  text-transform: capitalize;
}

.title {
  color: var(--text-900);
  padding-bottom: 0.25rem;
  border-bottom: 2px dotted var(--text-500);
  text-transform: capitalize;
}

.timestamp {
  color: var(--text-500);
  font-size: 0.8rem;
}

/* === page-contents === */

.page-contents {
  padding: 2rem;
  overflow-x: hidden;
  color: var(--text-500);
}

.page-contents-grid {
  display: grid;
  padding: 0.25rem 0;
  grid-template-columns: repeat(auto-fill, 95px);
}

.page-contents-grid > .link-icon img {
  padding: 0.25rem;
  border-radius: 999px;
  background-color: var(--link-active);
}

.page-contents-article > .link-icon {
  margin: 0.25rem 0.5rem;
}

.page-contents-article > .subtitle {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 28%;
}

.page-contents-header {
  margin-bottom: 0.25rem;
}

/* === page-footer === */

.page-footer {
  display: flex;
  grid-column: span 2;
  align-items: center;
  justify-content: center;
  color: var(--text-100);
  background-color: var(--bg-900);
}

html[data-reader-view='false'] .page-footer {
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
}

/* === page-header === */

.page-header {
  padding: 2rem 1rem;
  background-color: var(--bg-200);
  overflow: hidden;
}

html[data-reader-view='false'] .page-header {
  border-top-left-radius: var(--radius-sm);
}

.page-header .title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.page-header-certifications .link-icon > span {
  display: inline-block;
  overflow: hidden;
}

.page-header-certifications .link-icon img {
  width: 33%;
  height: 33%;
  min-width: 3rem;
}

.page-header-profile {
  text-align: center;
}

.page-header-profile > img {
  width: 50%;
  border-radius: 999px;
  border: 3px solid #fff;
  user-select: none;
}

.page-header-info {
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-sm);
  border: 1px solid #999;
  font-size: 0.9rem;
}

.page-header-skills {
  text-transform: capitalize;
}

.page-header-skills .tags {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--text-700);
}
